# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
pylint-report.txt
pylint-output.log

# Profiling
.prof

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml

# VSCode (eğer yukarıda yoksa)
.vscode/

# MacOS
.DS_Store

# Local logs
*.log

# Temporary files
*.swp
*.swo
*.tmp
*.bak

# wheel build
build/
dist/
*.egg-info/
.eggs/


__pycache__

.env
Metashape-2.2.1-cp37.cp38.cp39.cp310.cp311-abi3-linux_x86_64.whl
Metashape-2.2.1-cp37.cp38.cp39.cp310.cp311-abi3-macosx_11_0_universal2.macosx_10_13_x86_64.whl
logs
